<head>
    <meta charset="utf-8">
    <title>Waiter Shifts WebApp</title>
    <link rel="stylesheet" href="/index-grid.css">
    <link rel="stylesheet" href="/waiter_app.css">
</head>
  <body>
    <header>
      <h1>Code and Coffee</h1>
    </header>
    {{{body}}}
  </body>