{{{body}}}
<header>
<h1>Code and Coffee</h1>
</header>
<div class="">
  <form action="/waiterInput" method="post">
  <div class="">
  <h4><label for="nameInput">Please Enter Your Name:</label></h4>
  <input type="text" name="nameInput">
  </div>
  <div class="days">
  <h4><label for="daysInput">Please Select All Days You Are Available</label></h4>
  <input type="button" name="daysBtn" value="Monday">
  <input type="button" name="daysBtn" value="Tuesday">
  <input type="button" name="daysBtn" value="Wednesday">
  <input type="button" name="daysBtn" value="Thursday">
  <input type="button" name="daysBtn" value="Friday">
  <input type="button" name="daysBtn" value="Saturday">
  <input type="button" name="daysBtn" value="Sunday">
  </div>
  <button type="submit">Submit My Selections</button>
  </form>
  <hr>
</div>