{{{body}}}

<div class="days">
  <h4>Here are all waiter shifts for the week:</h4>
  <p>Available days are highlighted in <span class="green">green</span>. Unavailable shifts are marked as <span class="red">red</span>.</p>
 <table>
     <tr {{#each shifts}}>
         <th>{{shift}}</th>
         {{/each}}
    </tr>
    <tr{{#each waiter_shifts}}>
        <td>{{waiter_name}}</td>
        {{/each}}
    </tr>
 </table>
</div>