
  <h3>Here are all waiter shifts for the week:</h3>
  <div class="renderAdmin">
    <table>
        <tr>
            {{#each waiter_shifts}}
            <th>
                {{day}}
            </th>
            {{/each}}
        </tr>
        <tr>
            {{#each waiter_shifts}}
            <td>
                <ul>
                    {{#each waiter_name}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
            </td>
            {{/each}}
        </tr>
    </table>
</div>